<LinkTo @route="item" @model="1" class="product">
    <div class="product-image">
        <img src="/assets/images/beats-solo-red.png" alt="headphone">
    </div>
    <div class="product-details"></div>
</LinkTo>