{{!-- <LinkTo @route="cart" class="cart-link">
    <i class="fa fa-shopping-cart"></i>
</LinkTo>
<main class="container mt-5">
    <LinkTo @route="item" @model="1">Product 1</LinkTo>
    <LinkTo @route="item" @model="2">Product 2</LinkTo>
</main> --}}

{{!-- Refactor with using general-container --}}
<GeneralContainer>
    {{!-- LinkTo > built-in ember, link to component --}}
    <LinkTo @route="item" @model="1">Product 1</LinkTo>
    <LinkTo @route="item" @model="2">Product 2</LinkTo>
</GeneralContainer>
